services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: proof-of-human-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./database/base:/app/database/base
      - ./logs:/app/logs
    environment:
      - TZ=Europe/Moscow
